.content {
   padding: 40px;
 
   
 }
 
 .searchBlock {
   border: 1px solid #F3F3F3;
   border-radius: 10px;
   padding: 0 15px;
   max-width: 250px;
   display: flex;
 
 
   input {
     border: none;
     padding: 13px;
   }
 
   ;
 }